@use "../../../smooth-gradient" as gradients;

.List {
  @at-root {
    & {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spaceGap);
      color: var(--colorSecondaryDark);
    }

    .List__item {
      flex-grow: 1;
      flex-basis: calc((var(--switcherThreshold) - 100%) * 999);
      box-sizing: border-box;
      list-style: none inside;
      border: 1px solid var(--colorBorder);
      border-radius: 4px;
      height: 300px;
      color: #fff;
      text-align: center;

      &.-linear {
        background-image: linear-gradient(to bottom, #000, transparent);
      }
      &.-scrim {
        background-image: linear-gradient(to bottom, gradients.scrim());
      }
      &.-easeOutSine {
        background-image: linear-gradient(to bottom, gradients.easeOutSine());
      }
      &.-clothoid {
        background-image: linear-gradient(to bottom, gradients.clothoid());
      }

      &.-image {
        background-position: center center;
        background-size: cover;

        &.-linear {
          background-image: linear-gradient(to bottom, #000, transparent),
            url(https://picsum.photos/175/300?random);
        }
        &.-scrim {
          background-image: linear-gradient(to bottom, gradients.scrim()),
            url(https://picsum.photos/175/300?random);
        }
        &.-easeOutSine {
          background-image: linear-gradient(to bottom, gradients.easeOutSine()),
            url(https://picsum.photos/175/300?random);
        }
        &.-clothoid {
          background-image: linear-gradient(to bottom, gradients.clothoid()),
            url(https://picsum.photos/175/300?random);
        }
      }

      &.-any1 {
        background-image: linear-gradient(to right, gradients.scrim());
      }
      &.-any2 {
        background-image: linear-gradient(45deg, gradients.scrim());
      }
      &.-any3 {
        background-image: linear-gradient(to bottom, gradients.scrim(#ff0000));
      }
      &.-any4 {
        background-image: linear-gradient(
          to bottom,
          gradients.scrim(#000000, 0.5)
        );
      }
    }

    .List__label {
      display: inline-block;
      padding-top: calc(var(--spaceGap) * 1.5);
      padding-bottom: calc(var(--spaceGap) * 1.5);
    }
  }
}
