footer.Footer#footer
  .Footer__inner
    p.Footer__credit Code by 
      a(href="https://github.com/oti", target="_blank", rel="noopener") oti
      |. Inspired by 
      a(href="https://codepen.io/readymadegogo/pen/pPLJgR", target="_blank", rel="noopener") Naoki Matsuda
      |
      | & 
      a(href="https://codepen.io/lhermann/pen/qmpMGQ", target="_blank", rel="noopener") Lukas Hermann
    
    p.Footer__license
      a(href="https://github.com/oti/smooth-gradient-sass-function/") GitHub
      | , MIT License