@mixin max($bp: 767px) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin min($bp: 768px) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin minmax($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
